
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}


.product{
	margin-top:12px;
	
	justify-content:space-around;
}
.card{
	
	background-color:#ededed;
	margin:2vh 1vh;
	min-width:27vh;
	max-width:30vh;
	text-align:center;
	box-shadow: 0px 0px 10px #888888;
	cursor:pointer;
    padding:1.3vh 0vh;
	transition:0.2s all;
	
}

.detailsofpro{
	border-bottom:2px solid black;
	 width: fit-content;
	 margin-top:3vh;
	margin-left:3vh;
	text-shadow: 0px 0px 10px #888888;
	font-family: 'Gemunu Libre', 'sans-serif';
}
.card>input{
	
	color:white;
	background-color:black;
	width:10vh;
	height:5vh;
	margin:1vh 0vh;
	font-family: 'Raleway', 'sans-serif';
	cursor: grab;
	border:none;
	transition:0.2s;
}
.card>input:hover{
	box-shadow: 0px 0px 5px black;
	transform:scale(1.01);
}

.card:hover{
	transform:translateY(-4%);
	box-shadow: 0px 12px 30px #888888;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.card {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


